# ==========================
# Entornos virtuales
# ==========================
venv/
.venv/
.env/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# Datos privados
# (NO subir información real)
# ==========================
data/reales/
data/clientes/

# ==========================
# Archivos generados
# ==========================
*.pdf

# ==========================
# Sistema operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
